@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');

//size of card
$card-width: 37.5rem;
$card-height: 25rem;

//big-health
$big-health-size: 3.75rem;

// small health
$small-health-size: 3.12rem;

// preview ovals
$previev-oval: 3rem;

// Breakpoints
$bp-medium: 64em; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 160rem; // 2560px

// Media Queries
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 16px;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// button size
$button-size: 6rem;

html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  // @media #{$mq-medium} {
  //   font-size: $base-font-size*0.8;
  //   line-height: $base-line-height*0.8;
  // }

  @media #{$mq-large} {
    font-size: $base-font-size*1;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }

}

body {
  -webkit-print-color-adjust: exact;
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

}

.card-page {
  position: relative;
  top: -145vh;
  pointer-events: none;
}

.dragable-cursor {
  cursor: grab;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.wrapper > * {
  pointer-events: all;
}

.changeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  background: #2f3238;
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
}

.playerInput {
  height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;


}

.playerInput label {
  margin-right: 5px;
  text-align: right;
  font-size: 1.5rem;
  color: #ccc;
  font-family: Lobster;
  letter-spacing: 2px;
}

.playerInput input {
  margin-left: 5px;
  border: 1px solid #8904b1;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  margin-right: 5px;
  padding: 0 5px;
}


/* Card
 ============================================ */
.card {
  display: flex;
  z-index: 5;
  width: $card-width;
  height: $card-height;
  // max-width: 1024px;
  margin: 0 auto;
}

.card__img {
  width: 50%;
  height: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.img__block {
  height: 100%;
}

.card__img img {
  z-index: 1;
}

.hidden {
  visibility: hidden;
  display: none;
}


.card__img:hover .inputFile {
  visibility: visible;
}

.inputFile {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 700;
  // font-size: 20px;
  visibility: hidden;
  color: #fff;
}

.inputFile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.loadButton {
  margin: auto;
  width: $button-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadButton span {
  margin: auto;
  font-size: 1.5rem;
  background-color: #909090bf;
  padding: 0.5rem;
}

/* .inputFile::-webkit-file-upload-button {
	visibility: hidden;

} */


.static {
  visibility: visible;
}


/* Player
 ============================================ */
.player {
  position: absolute;
  z-index: 3;
  min-width: 50%;
  max-width: 75%;
  background-color: #111;
  bottom: 0;
  right: 0;
  color: white;
  text-align: right;
  padding-left: 4rem;

}

.player__info {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 0 5px;
  word-break: break-all;
}

.player .title {
  font-size: 1.25rem;
}

.card__health {
  height: 100%;
  width: 50%;
  background-color: #111;
}

.healthTable {
  height: 100%;
  padding: 5px;
}

.bigHealth {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5px;
}

.smallHealth {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #DDD;
  font-family: 'Lobster', cursive;
  font-weight: 800;
}

/* Big Health
  ============================================ */
.bigHealth .points {
  width: $big-health-size;
  height: $big-health-size;
  font-size: 2rem;
  background-color: grey;
  color: #ffffff;
  margin: 0 auto;
}

/* Small Healt
  ============================================ */
.smallHealth .points {
  width: $small-health-size;
  height: $small-health-size;
  font-size: 2.5rem;
  margin: 0 auto;
  background-color: #745fa4;
  color: #272324;
}

.bigHealth .special {
  background-color: #fff;
  color: black;
}

.colorView {
  width: 40px;
  height: 40px;
}

.variant {
  width: 45px;
  height: 45px;
  font-size: 40px;
  color: black;
  margin: 2px;
}

.colorGroup {
  display: flex;
}

.previewBlock:hover {
  background-color: black;
}

.previewBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  cursor: pointer;

  font-size: 2rem;
}

.previewBlock__big, .previewBlock__small {
  margin: 0 auto;
  width: $previev-oval;
  height: $previev-oval;
}

.previewBlock__big .points {
  background-color: #fff;
  color: black;
  height: 100%;
}

.previewBlock__small {
  margin-top: 5px;
}

.previewBlock__small .points {
  height: 100%;
  color: #272324;
}

h1 {
  margin: 5px;
  color: #ccc;
  font-family: Lobster;
  letter-spacing: 2px;
  font-size: 2rem;
}

.mobileBro {
  display: none;
  background: url("../asserts/images/mob.jpg") no-repeat;

}
.App {
  height: 100vh;
}

@media screen and (max-width: 600px){
  .desktop {
    display: none;
  }

  .mobileBro {
    display: block;
    height: 100vh;
    background-size: cover;
  }
}

@media print {
  .desktop__space {
    display: none;
  }

  .changeBlock {
    display: none;
  }

  .wrapper {
    background: none !important;
  }

  .inputFile {
    display: none;
  }

  button {
    visibility: hidden;
  }
}

